*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid black;
    box-shadow: 4px 8px 16px beige;
}
ul{
    display: flex;
    margin-top: 5px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    margin: 10px;
    color: red;
}
a:hover{
    color: rgb(6, 140, 224);
    border-bottom: 1px solid rgb(6, 140, 224) ;
    text-shadow: 2px 4px 5px lightskyblue;
}
.lien{
    color: red;
    font-size: 2em;
    margin-left: 15px;
}
span{
    color: black;
}
/*index*/
.section23{
    margin-top: 70px;
    display:flex ;
}
aside{
    max-width: 500px;
    border-style: solid;
    padding: 2px;
    margin-left: 15px;
}
aside img{
    width: 300px;
    height: 300px;

}
article{
    max-width:700px ;
    border-style: solid;
    padding: 20px;
    margin-left: 20%;
   
}
h2{
    font-size: 1.2em;
}
.para{
    font-size: 1.1em;
}
.presa{
    text-align: center;
    font-size: 1.8em;
}/*projet*/
th{
    border: 2px solid gainsboro;
    background-color: navy;
    height: 45px;
    color: #fff;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
   
}
td{
    border: 2px solid gainsboro;
    max-width: 400px;
    color: rgb(9, 155, 246);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}
td img{
    width: 400px;
    height: 200px;
}
table{
    border-collapse: collapse;
   margin-left: 10px;
    margin-right: 10px;
}
.pos{
    background-color: ghostwhite;
    width: 65%;
    height: 83vh;
    margin-left: 15%;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 4px 8px 16px gainsboro;
   
}
.tf{
    width: 27vh;
}

.proj{
    color: rgb(2, 83, 133);
}
.button{
    background-color: navy;
    color: #fff;
    border-radius: 8px;
    padding: 3px;
    box-shadow: inset 9.91px 9.91px 15px rgb(49, 49, 131) inset -9.91px -9.91px 15px rgb(8, 8, 247);
}
/*a propos*/
.s3{
    margin-top: 10%;
    background-color:rgb(221, 253, 253) ;
    max-width: 700px;
   padding: 20px;
    border: 2px solid  rgb(221, 253, 253) ;
    margin-left: 25%;
    box-shadow: 4px 8px 16px  #b3b1b1;
    border-radius: 8px;

  }
  .h2{
    color: rgb(10, 158, 250);
    font-size: 1.5em;
  }
  .p1{
    color: rgb(96, 96, 243);
    font-size: 1.1em;
  }
/*contact*/
form{
    
   
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid rgb(5, 150, 240);
    border-radius: 8px;
    width: 40%;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    margin-top: 100px;
    box-shadow: inset  9.91px 9.91px 15px rgb(220, 236, 244), inset -9.91px -9.91px 15px rgb(248, 249, 250);
}
input{ 
    padding: 8px; 
    border: 2px solid rgb(5, 150, 240);

}
label{
    font-size: 1.3em;
    color: rgb(12, 1, 1);
}
.mess{
    padding: 35px;
}
.env{
    margin-top: 15px;
    padding: 8px;
    background-color: rgb(7, 128, 203);
    border: none;
    box-shadow: inset  9.91px 9.91px 15px rgb(3, 112, 180), inset -9.91px -9.91px 15px rgb(3, 157, 252);
    border-radius: 10px;
    cursor: pointer;
   

}
.env:hover{
    background-color: rgb(250, 252, 254);
    box-shadow: inset  9.91px 9.91px 15px rgb(253, 254, 255), inset -9.91px -9.91px 15px rgb(250, 251, 252);
    color: rgb(2, 124, 199);
    transition: 0.7s all;
}
.but{
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    border: none;
}
.but:hover{
    color: rgb(2, 124, 199);
    transition: 0.7s all;
}

.cont{
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
}
h4{
    font-size: 1.1em;
}
footer{
    width: 90%;
    display: flex;
    position: relative;
    margin-left: 5%;
    margin-top: 50px;
    border-style: solid;
    padding: 10px;

}
h3{
    font-size: 1.5em;
}
.mp3{
    margin-left: 10%;
}
.mp5{
    margin-left: 30%;
}
.mp4{
    margin-left: 30%;
}
.en{
    font-size: 4em;
    font-weight: 900;
}
h5{
    font-size: 3em;
    font-weight: 900;
}
.tel{
    display: flex;
    font-size: 2.5em;
    background-color: rgb(13, 13, 61);
    color: #fff;
    max-width: 600px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30%;
    box-shadow: inset  9.91px 9.91px 15px  rgb(12, 12, 93), inset -9.91px -9.91px 15px   rgb(18, 18, 161);
}
.div{
    background-color: rgb(193, 251, 251);
    height: 100vh;
    text-align: center;
}
.enve{
    margin-top: 15px;
    padding: 8px;
    background-color: rgb(13, 13, 61);
    border: none;
    box-shadow: inset  9.91px 9.91px 15px  rgb(12, 12, 93), inset -9.91px -9.91px 15px   rgb(18, 18, 161);
    border-radius: 10px;
    cursor: pointer;
}